<div class="registrar">
    <form class="custom-form" method="post">
      <h1>Registrar</h1>
      <input
        type="id"
        [(ngModel)]="id"
        name="id"
        placeholder="Id"
        required="required"
      />
      <input
        type="clave"
        [(ngModel)]="clave"
        name="clave"
        placeholder="Clave"
        required="required"
      />
      <input
        type="nombre"
        [(ngModel)]="nombre"
        name="nombre"
        placeholder="Nombre de la Fruta"
        required="required"
      />
      <input
        type="precio"
        [(ngModel)]="precio"
        name="precio"
        placeholder="Precio"
        required="required"
      />
      <button type="submit" (click)="Registrar()">Registrar Fruta</button>
    </form>
  </div>